
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
.slider{
    position: fixed;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color:aqua;
}
.slider header{
    text-align: center;
    font-size: 40px;
    color: aliceblue;
    background-color:cadetblue;
    line-height: 100px;
}
hr{
    color: aliceblue;
}
.slider ul a{
    display: block;
    font-size: 20px;
    color: azure;
    width: 100%;
    height: 100%;
    line-height: 70px;
    padding-left: 40px;
    box-sizing: border-box;
    border: 1px solid orange;
    transform: .4s;

   

}
.slider li:hover a{
    background-color:cadetblue;
    padding-left: 60px;
}

#check{
    display: none;
}

#check:checked~.slider{
    left: 0px;

}

label #btn{
   
    position: absolute;
    cursor: pointer;
    left: 20px;
    top: 25px;
   
    


}
label #back{
   
    position: absolute;
    cursor: pointer;
    z-index: 1111;
    left: -300px;
    top:21px;
    padding: 4px 9px;
    background-color: aqua;
    border-radius: 30px;
   


}
.info{
  display: none;    

}
#check:checked~label #back{
    left: 3px;

}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-image: url("https://www.resizepixel.com/Image/vt8fkemxbw/Preview/12345.jpg?v=816e00cd-f8b8-4ea7-a311-bd41b6cddac3");
   background-position: center center;
   background-size: cover;
   height: 100vh;
}

/* For devices 400px and larger: */
@media only screen and (min-device-width: 600px) {
   body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       background-image: url("https://www.resizepixel.com/Image/o0gzes1h5b/Preview/anti-ragging.jpg?v=d2359e97-d20a-4482-a5f0-befd9548f546");
       background-position: center center;
       background-size: cover;
       height: 100vh;
   }
   .info{
    display: inline;
    left: 11%;
    width: 200px;
    height: 200px;
    position: absolute;
    text-align: center;
    font-family: cursive;
    color:red;
    border: 4px solid;
    
   }
   
}



